:root {
  --foreground: #ffffff;
  --background: #222222;
  --bs-card-height: 10px;
  --offblack: #333333;
  --offwhite: #dddddd;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*/
a {
  color: inherit;
  text-decoration: none;
}

.card {
  font-family: var(--font-geist-sans);
  line-height: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 95%;
  border: 1px solid var(--offblack);
  border-radius: 1em;
  padding: 1em;
  overflow: hidden;
  max-height: 100em;
  transition: max-height 0.3s ease-in-out;
}

.card.minimized {
  max-height: 0.5em;
}