.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 75svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;

}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.card {
  font-family: var(--font-geist-sans);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 95%;
  border: 1px solid var(--offblack);
  border-radius: 1em;
  padding: 1em;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.minimized {
  font-family: var(--font-geist-sans);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 95%;
  border: 1px solid var(--offblack);
  border-radius: 1em;
  padding: 1em;
  overflow: hidden;
  max-height: 1em;
}

.cardHeader {
  font-family: var(--font-geist-mono);
  border-bottom: 1px solid var(--offblack);
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
}

.slideIn {
  transform: translateX(0%);
  transition: transform 0.25s ease-in-out;
}

.slideOutRight {
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;
}

.slideOutLeft {
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
}

.circledQuestion::before {
  content: '?';
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
  line-height: 0.8em;
  border-radius: 50%;
  margin-left: 6px;
  padding: 0.13em 0.2em 0.09em 0.2em;
  color: inherit;
  border: 1px solid;
  text-decoration: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  a.secondary {
    min-width: auto;
  }
}
